body {
    background: linear-gradient(135deg, #1f1f1f, #121212);
    color: rgb(102, 94, 94);
}

.bg-gradient {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}
